
* {
	padding: 0;
	margin: 0;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
}
.container {
	min-height: 700px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: rgb(68, 216, 204);
	font-weight: bold;
}
.titrepr h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: black;
}
.titrepr h1 span {
	color: rgba(43, 194, 181, 0.753);
    text-shadow: 3px 3px;
    text-align: left;
    margin: 0;
}

#header {
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 5vh;
	background-color: rgba(31, 30, 30, 0.24);
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav ul {
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#header .nav ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
	text-decoration: none;
}
#header .nav ul li:hover a {
	color: crimson;
}
#about .about{
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 5px 0;
}
 .left-part {
	width: 250px;
	height: 360px;
}
.right-part {
	width: 100%;
}
.right-part h2 {
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#profile-name h1{
	font-family: 'Arial', sans-serif;
	font-size: 25px;                 
	font-weight: bold;               
	color: #333;                     
	text-align: center;              
	text-transform: uppercase;       
	padding: 20px;                   
	text-decoration: solid underline; 
	white-space: nowrap;
  }
#about.right-part p {
	margin: 20px 30px;
	font-size: 50px;
}
#about .deux-section h2{
	  font-size: 20px;
	font-weight: bolder;
}
.about-img {
	border: 5px solid  rgba(43, 194, 181, 0.753);
	border-radius: 15px;       
	padding: 15px;             
	background-color: #f9f9f9;
	display: inline-block;
}
.about-img img {
	border-radius: 15px;       
	display: block;
	width: 400px; 
	height: 400px; 
}
#about p{
	font-size: 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-left: 210px;
}

#footer {
	background-image: linear-gradient(45deg,rgba(14, 13, 13, 1),rgba(14,13,13,0.315));
	text-align: center;
    padding: 10px 0;
    font-family: arial,sans-serif;
    font-size: 14px;
	margin: auto;
}
.footer-container {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
.footer-container a{
	color:black;
}
.footer-container a:hover{
	color: red;
}
.social-item img {
	width: 40px;
	height: 40px;
}
#footer p{
	font-weight: bold;
	color: black;
	font-size: 15px;
}
@media only screen and (min-width: 1200px) {

	#header .nav ul {
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav ul li {
		display: inline-block;
	}
	#header .nav ul li a {
		font-size: 1.8rem;
	}
}








